.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: #fff;
  transition: 0.5s ease-in-out;
}

button {
  background-color: black;
  color: #fff;
  padding: 20px;
  font-size: 25px;
  margin: 20px;
  border-radius: 20px;
}

div h2,
h3 {
  font-size: 35px;
  line-height: 80px;
}

h3 {
  background-color: black;
  color: #fff;
}
